<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('images/imm.png');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="testbox">
            <h1>Sign Up</h1>

            <form action="/">
              <hr>
              <div class="accounttype">
                <input type="radio" value="None" id="radioOne" name="account" checked/>
                <label for="radioOne" class="radio" chec onclick="document.getElementById('choix2').style.display='none';document.getElementById('choix1').style.display='block' ">Entreprise</label>
                <input type="radio" value="None" id="radioTwo" name="account" />
                <label for="radioTwo" class="radio" onclick="document.getElementById('choix1').style.display='none';document.getElementById('choix2').style.display='block' ">Club</label>
              </div>
              <hr>
              <input type="text" name="name" id="name1" placeholder="Email" required style=" width:250px;"/>
              <input type="text" name="name" id="name2" placeholder="Name" required style=" width:250px;"/>
              <input type="password" name="name" id="name3" placeholder="Password" required style=" width:250px;"/>
              <input type="text" name="name" id="choix1" placeholder="Adresse"  style=" width:250px;"/>
              <input type="text" name="name" id="choix2" placeholder="Etablissement" style="display:none; width:250px;" />
              <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
              <div class="d-grid gap-2 col-6 mx-auto" align="center">
                <button class="btn btn-outline-success" type="button" style="height:35px; width:200px;margin-left:-80%">Register</button>
                <button class="btn btn-outline-warning" type="button"  style="height:35px; width:200px;margin-left:-80%">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>