<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HOME</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/popup.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">



    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  -->
</head>
<body>

<div class="circle"></div>
<header>
    <a class="logo" href="/"><img src="/static/images/logo.svg" alt="logo"></a>
    <nav>
        <ul class="nav__links">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </nav>
    <a  class="login-trigger login" href="login.html" data-target="#login" data-toggle="modal">LOGIN</a>



</header>
<div class="content">
    <div class="text_box">
        <h2>GET your <br><span>SPONSOR</span></h2>

        <p>Giving attribution isn’t required. but is appreciated and allows contributors to gain more exposure. Add following link in website or summary of your project.</p>
        <a href="#">GET STARTED</a>
    </div>
    <div class="image_box">
        <img src="/static/images/home1.png" class="sponsor">
    </div>
</div>

<!---->


</body>
</html>